patch/
patches/
checkpointSearch/
__pycache__/
.vscode/
**/*.pyc
line.txt
ans.txt
timeg.txt
code.java
out/
log/
sim/
sim-*/
build/
d4j/
out-*/
d4j-*/
buggy/
original/
*.tar.gz

# downloaded files in current dir
/data_data0.pkl
/data_data1.pkl
/data_process_datacopy.pkl
/newdata.zip
/newdata/*.pkl
/newdata/*.log

# files generated after pre-processing
/data_train_data.pkl
/data_train_nl.pkl
/data_test_data.pkl
/data_test_nl.pkl

# log files in current dir
/log.*

