patch/
patches/
checkpointSearch/
__pycache__/
.vscode/
**/*.pyc
line.txt
ans.txt
timeg.txt
code.java
out/
log/
sim/
sim-*/
build/
d4j/
out-*/
d4j-*/
buggy/
original/
*.tar.gz

# downloaded files in current dir
/data0.pkl
/data1.pkl

# log files in current dir
/log.*

